
.navbar{
    display: flex;
    height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: fixed;
    color: white;

}


.navbar li{
    list-style: none;
}



